<html>
  <head>
    <title>git-peer : <%= from_tag_name %>..HEAD</title>
    <style type="text/css">
      body {
        font-family: monospace;
      }
      .branch-master {
        color: #D00;
      }
      .branch-develop {
        color: #0D0;
      }
      .branch-stage {
        color: #00D;
      }
      .trello_url {
        display: inline-block;
        width: 30px;
      }
    </style>
  </head>
  <body>
    <ul class="peer">
      <% merges.each do |r| %>
      <li class="header">
        <a href="<%= r.pr_url %>">#<%= r.pr_number %></a>
        [<span class="trello_url"><% if r.trello_url %><a href="<%= r.trello_url %>">CARD</a><% end %></span>]
        <span class="title"><%= r.title %></span>
        (<span class="branch-<%= r.into %>"><%= r.into %></span> by <%= r.username %> @ <%= r.merged_at %>)
      </li>
      <% end %>
    </ul>
  </body>
</html>
